.button {
  color: rgb(255, 255, 255);
  background-color: rgb(77, 77, 77);
  border: 1px solid rgb(0, 0, 0);
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  outline: none;
}

.button:hover {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(170, 170, 170);
}

.button.equal {
  background-color: rgb(0, 68, 102);
}

.button.clear {
  background-color: rgb(172, 57, 57);
}

.button.operator {
  background-color: rgb(102, 102, 102);
}
