.calculator {
  width: 350px;
  height: 400px;
  padding: 5px;
  border: 2px solid rgb(65, 65, 65);
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.calculator .math {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.math .clear,
.math .zero {
  grid-column: 1 / span 2;
}

.math .equal {
  grid-column: 4;
  grid-row: 4 / span 2;
}
