.display {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-align: end;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

.formula {
  height: 25px;
  color: orange;
  font-size: 18px;
}

.result {
  height: 30px;
  font-size: 26px;
}
